*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.so


# Added by cargo

/target

# game assets
app/src/main/assets/**
!app/src/main/assets/.gitkeep
